.container
  .topslide
    = image_tag 'top_image2.jpg'
    = image_tag 'top_image3.jpg'
    = image_tag 'top_image4.jpg'
  .nav_bar
    %h3 新着記事
    %h3 人気記事
  .article_container
    = render 'articles/article_all', articles: @articles