.btn {
  background-color: #A1E5AB;
  border: none;
  width: 100%;
  text-align: center;
  color: white;
  padding: 16px 0;
  font-weight: bold;
}

.btn_second {
  background-color: #A1E5AB;
  border: solid 1px ;
  width: 100%;
  text-align: center;
  color: #A1E5AB;
  padding: 16px 0;
  font-weight: bold;
}



.min_btn {
  display: inline-block;
  background: #9FE5D8;
  text-align: center;
  width: 10%;
  border: none;
  font-weight: bold;
  margin: 10px 0;
}

.input-with-remove {
  position: relative;
  display: inline-block;
  width: 100%;
}

.remove_link {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer; 
}

