#header {
    background-color: #A1E5AB;
    display: flex;
    justify-content: space-between;

img {
    height: 150px;
    width: 150px;
}
}

.header_nav{
    display: flex;
    justify-content: space-between;
}
